#modal-area {
  position: relative;

  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 900px;
}
.modal-box {
  width: 100%;
  height: 100%;
  margin-right: 25px;
}
.modal {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  z-index: 51;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#success h1 {
  color: rgba(34, 133, 70, 0.751);
  /* margin-bottom: 25px; */
}
#fail h1 {
  color: rgb(154, 22, 22);
  /* margin-bottom: 25px; */
}

.modal button {
  height: 35px;
  padding: 0 25px;
  border-radius: 5px;
  background-color: rgba(165, 165, 165, 0.269);
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  border: none;
}
.modal button:hover {
  background-color: rgba(165, 165, 165, 0.569);
}
.highlight {
  background: rgb(55, 55, 55);
  padding: 0 5px;
}
.green {
  color: rgba(34, 133, 70, 0.751);
}
.yellow {
  color: rgb(240, 208, 0);
}
.blue {
  color: rgb(0, 115, 198);
}

#game-info {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  z-index: 51;
  color: #a9a9a9;
}
