* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
  background-color: #181818;
}

main {
  margin: 0 auto;
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
h1 {
  color: #a9a9a9;
}
p {
  font-size: 18px;
  color: #a9a9a9;
  margin-top: 10px;
  line-height: 26px;
}

@media (max-width: 825px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
  }
  body {
    padding: 0;
  }
}
